
.main{
  width:800px;
  margin: 50px auto;
}

.title{
  border-bottom: 20px solid black;
  margin-bottom: 20px;
}

.title-caption{
  font-weight: bold;
  color: black;
  font-size: 40px;
  font-family: 'Oswald',sans-serif;
  padding-bottom: 15px;

}


@media(max-width:720px){

  .main{
    width:100%;
  }


}
