/* You can add global styles to this file, and also import other style files */


@font-face{
  font-family: OswaldBold;
  src:url("./supporting-files/oswald-bold.ttf") format("truetype");
}
@font-face{
  font-family: OswaldLight;
  src:url("./supporting-files/oswald-light.ttf") format("truetype");
}
@font-face{
  font-family: OswaldRegular;
  src:url("./supporting-files/oswald-regular.ttf") format("truetype");
}
*{
  padding: 0;
  margin: 0;

}
html, body
 { height: 100%;

  }


body {
  margin: 0;
  font-family: 'OswaldBold', sans-serif;
   }
